<?xml version="1.0"?>

<launch>
<!--  mundos -->
    <include file="$(find qr_coder)/launch/world.launch" >
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="world_name" value="$(find qr_coder)/worlds/empty.world" />
    </include>    


<!-- modelos-->

  <arg name="robot_name" default="p3dx" />
  <arg name="robot_position" default="-x 0 -y 0 -z 0.00" />


  <group ns="$(arg robot_name)">

    <!-- Carrega os URDF no ROS Parameter Server -->
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find gazebo_plugins)/test/multi_robot_scenario/xacro/p3dx/pioneer3dxAtividade.xacro'" />

    <!-- Roda um script python para enviar um serviço para gazebo_ros -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model $(arg robot_name) -param robot_description $(arg robot_position) "/>

    <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
      <param name="publish_frequency" type="double" value="30.0"/>
      <param name="tf_prefix" type="string" value="$(arg robot_name)"/>
    </node>
  </group>

</launch>


